// FONTS USED
// Montserrat 400, 700
// Open Sans 400, 400 italic


/* === Sitewide Globals =============================== */

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-font-smoothing: subpixel-antialiased;
}

body {
	background: #fff;
}


/* === Typography Settings =============================== */

h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

p {
	margin-bottom: 10px;
}
