// FONTS USED
// Montserrat 400, 700
// Open Sans 400, 400 italic, 700


/* === Sitewide Globals =============================== */

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background: $body;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	height: 100%;
}

/* === Typography Settings =============================== */

h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

p {
	margin-bottom: 10px;
}


/* === Page Containers ======================================= */

.container {
	position: relative;
	padding-top: 80px;
	padding-bottom: 280px;
	z-index: 55;

	@include breakpoint(sml) {
		padding-top: 30px;
		padding-bottom: 0px;
	}
}

.content-container {
	background: $body;
	padding-bottom: 130px;
	@include box-shadow(rgba(0,0,0,0.3) 1px 0 5px 1px);
}

.site-width {
	max-width: 1000px;
	width: 95%;
	margin: 0 auto;
	padding: 0 32px;
	@include transition(padding 0.3s);

	@include breakpoint(lrg) {
		padding: 0 20px;
	}
}


/* === Grids ================================================== */

.grid {
	margin: 0 auto;
	padding: 0;

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.three-col {
	width: 33%;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 20px;

	@media(max-width: 790px) {
  		width: 100%;
  		padding-bottom: 20px;
  	}

}

.two-col {
	width: 50%;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 20px;

	@media(max-width: 820px) {
  		width: 100%;
  		padding-bottom: 20px;
  	}

}

.image-col {
	width: 33%;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 20px;

	@media(max-width: 760px) {
  		width: 50%;
  	}

  	@media(max-width: 480px) {
  		width: 100%;
  	}

}














