.main-header {
	width: 100%;
	position: fixed;
	border-top: $red 0px solid;
	//background: rgba(255,255,255,0);
	background: $body;
	overflow: hidden;
	z-index: 100;
	@include box-shadow(rgba(0,0,0,0.1) 1px 0 0px 1px);
	@include transition(background 0.3s, border 0.2s 0.5s, box-shadow 0.2s 0.5s);

	.header-inner {
		max-width: 1000px;
		margin: 0 auto;
	}

	a.menu-icon {
		display: none;

		// mobile
		@include breakpoint(sml) {
			display: block;
			float: right;
			padding-top: 37px;
			margin-right: 25px;
			@include transition(padding 0.2s);

			.navicon {
				fill: $dark-grey;
				fill-opacity: 0.5;
				@include transition(fill-opacity 0.2s 0.5s);
			}

			.icon-size {
				svg	{
					width: 27px;
					@include transition(width 0.2s);
				}
			}
		} // end mobile	
	} 

	// logo wrap
	a.logo-wrap {
		display: block;
		//width: 192px;
		height: 150px;
		padding-left: 25px;
		padding-top: 55px;
		float: left;
		@include transition(all 0.2s);

		@include breakpoint(sml) {
			height: 100px;
			padding-top: 33px;
		}

		.logo {
			fill: $red;
			fill-opacity: 1;
			@include transition(fill-opacity 0.2s 0.5s);
		}
	}

	// logo sizing
	.logo-size {
		
		svg {
			width: 139px;
			@include transition(all 0.2s);

			@include breakpoint(sml) {
				width: 119px;
			}
		}
	}

	// nav
	nav	{
		float: right;
		height: 75px;
		padding-top: 50px;
		opacity: 0.6;
		@include transition(padding 0.2s, opacity 0.2s 0.5s);

		@include breakpoint(sml) {
			display: none;
		}

		a {
			display: inline-block;
			position: relative;
			margin-right: 50px;
			padding-top: 20px;
			text-decoration: none;
			text-transform: uppercase;
			text-align: center;
			color: $dark-grey;
			font-size: 14px;
			letter-spacing: 1.5px;
			@include transition(color 0.3s);

			&:last-child {
				margin-right: 30px;
			}

			&:hover {
				color: $red;
			}

		}

		a.current {
			color: $red;
		}

	}

} // end main header


// scroll-fx
.main-header.scroll {
	border-top: $red 5px solid;
	background: $white;
	@include box-shadow(rgba(0,0,0,0.3) 1px 0 5px 1px);
	@include transition(background 0.3s, border 0.2s);

	a.menu-icon {
		display: none;

		// mobile
		@include breakpoint(sml) {
			display: block;
			float: right;
			padding-top: 23px;
			margin-right: 25px;
			@include transition(padding 0.2s);

			.navicon {
				fill: $red;
				fill-opacity: 1;
				@include transition(fill-opacity 0s);
			}

			.icon-size {
				svg	{
					width: 23px;
				}
			}
		} // end mobile	
	} 

	// logo
	a.logo-wrap {
		height: 100px;
		padding-top: 30px;
		@include transition(all 0.25s);

		@include breakpoint(sml) {
			height: 70px;
			padding-top: 18px;
		}

		.logo {
			fill: $red;
			fill-opacity: 1;
			@include transition(fill-opacity 0s);
		}

	} // end logo wrap

	// logo sizing
	.logo-size {
		
		svg {
			width: 119px;
			@include transition(all 0.25s);

			@include breakpoint(sml) {
				width: 100px;
			}
		}
	}

	// nav
	nav	{
		padding-top: 20px;
		opacity: 1;
		@include transition(padding 0.25s);
	}

} // end scroll-fx

.main-header:after {
	content: "";
	display: table;
	clear: both;
}

