
// stick footer to the bottom
.footer-reveal {
	position: fixed;
	width: 100%;
	height: 350px;
	bottom: 0;
	z-index: 0;
}

// background styling for footer
.gusa-footer {
	text-align: center;
	background: $red url(../img/background/wood.jpg);
	color: $white;
}

